.jumbotron 
	padding: 2rem 1rem 
	margin-bottom: 2rem 
	background-color: #FFD494 
	border-radius: .3rem
.jumbotron-1
	padding: 2rem 1rem 
	margin-bottom: 2rem 
	background-color: #DAEBC8
	border-radius: .3rem
.jumbotron-2
	padding: 2rem 1rem 
	margin-bottom: 2rem 
	background-color: #C7E0AC
	border-radius: .3rem
.jumbotron-3
	padding: 2rem 1rem 
	margin-bottom: 2rem 
	background-color: #A2CC75
	border-radius: .3rem
.jumbotron-4
	padding: 2rem 1rem 
	margin-bottom: 2rem 
	background-color: #FFF59B
	border-radius: .3rem
.jumbotron-5
	padding: 2rem 1rem 
	margin-bottom: 2rem 
	background-color: #FFF8BC
	border-radius: .5rem
.jumbotron-6
	padding: 2rem 1rem 
	margin-bottom: 2rem 
	background-color: #FFFFFF
	border-radius: .5rem
.div-con-fondo 
	background-image: src="@/assets/curso/images/pages/ilustraciones/3.png"
.contenedor 
	position: relative 
	display: inline-block 
	text-align: center 
.texto-encima 
	position: absolute 
	top: 1700px 
	left: 10px 
.centrado 
	position: absolute 
	top: 65% 
	left: 40% 
	transform: translate(-50%, -50%)
.img-responsive 
	max-width: 100% 
	height: auto 
.img-float 
	float: left 
.img-float-1 
	float: center
.card_white
	background-color: #FFFFFF
	color: blue
    border-radius: .5rem


